body {
	background-color: #7a6a13;
}

#about_text {
	height: 260px;
	width: 460px;
	font-weight: normal;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	box-shadow: 0 0 10px 5px rgba(21, 17, 15, 0.1);
	border-radius: 14px;
}

.skills {
	padding-right: 40px;
	text-align: justify;
	font-weight: bold;
	box-shadow: 0 0 10px 5px rgba(21, 17, 15, 0.1);
	border-radius: 14px;
}

.skillset{
	width: 320px;
	font-weight: normal;
	box-shadow: 0 0 10px 5px rgba(21, 17, 15, 0.1);
	border-radius: 14px;
}

.other_skillset {
	width: 260px;
	float: right;
	font-weight: normal;
	box-shadow: 0 0 10px 5px rgba(21, 17, 15, 0.1);
	border-radius: 14px;
}

.content {
	width: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
