body {
	background-color: #7a6a13;
}

#about_text {
	height: 240px;
	width: 500px;
}

.skills {
	text-align: justify;
	padding-right: 40px;
}

.content {
	width: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.skillset {
	margin-top: -20%;
	margin-left: -10%;
}