body {
	font-family: Helvetica, sans-serif;
	color: white;
	animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* Fade In Animation Stuff */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.nineSlice {
	padding: 15px;
	color: black;
  	border-image: url('../images/box_bg.png');
  	border-image-width: 20px;
	border-image-slice: 20 fill;
  	border-image-repeat: round;
	place-content: center;
}

.backButton {
    width: 50px;
	float:left;
	height: 50px;
}

button.imgButton {
	margin: 5px;
	background-image: url();
	background-size: contain;
 	background-repeat: no-repeat;
	background-position: center center;
}

button.imgButton:hover {
	margin: 5px;
	background-image: url();
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.buttonGroup {
	display: flex;
  	justify-content: center;
  	align-items: center;
}