body {
	background-image: url('../images/background.png');
	background-color: rgba(64,56,6,0.65);
	background-blend-mode: darken;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}


#intro {
	margin: 100px;
	width: 450px;
	height: 250px;
}

#intro_text {
	padding:20px;
}

#contacts {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 8px;
}

#contacts img {
	height: 30px;
	padding-left: 4px;
	padding-right: 4px;
}