body {
	background-image: url('../images/background.png');
	background-color: rgba(64,56,6,0.65);
	background-blend-mode: darken;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}


#intro {
	margin: 100px;
	width: 450px;
	height: 250px;
}

#intro .nineSlice {
	padding:20px;
}

button.imgButton {
	margin: 5px;
	background-image: url();
	background-size: contain;
 	background-repeat: no-repeat;
	background-position: center center;
}

button.imgButton:hover {
	margin: 5px;
	background-image: url();
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.buttonGroup {
	display: flex;
  	justify-content: center;
  	align-items: center;
}