body{
	background-color: #723B2C;
}

.fixit{display:inline-block;clear:both;}
* html .fixit{height:1%;}
.fixit{display:block;}

.category {
	width: 500px;
	float:left;
	height:260px;
	margin-left:15px;
	margin-top: 25px;
	margin-bottom: 70px;
}

.project {
	position: relative;
	width: 450px;
	float:left;
	margin-left:15px;
	margin-top: 25px;
	margin-bottom: 70px;
}

.project_image {
	display: block;
	width: 100%;
	height: auto;
}

.project_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 95%;
	width: 95%;
	align-self: center;
	justify-self: center;
	opacity: 0;
	transition: .5s ease;
	background-color: #f1e5c4;
}

.project:hover .project_overlay {
	opacity: 1;
}

.project_title {
	color: #15110f;
	font-size:x-large;
	font-weight: bold;
	text-align: center;
}

.project_description {
	color: #15110f;
	text-align: justify;
}

.categorySection {
	place-content: center;
}